# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
myenv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
wheels/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.env.*
.venv
.venv.*
env/
venv/
venv.bak/

# PyCharm
.idea/

# Visual Studio Code
.vscode/

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Windows specific files
Thumbs.db
Desktop.ini

# Editor files
*.swp
*.swo
*.swn

# SQLite database files
*.db
*.sqlite3

# Log files
*.log

# Media files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.mp4
*.mov
*.avi
*.flv
*.mkv

# Other
*.bak
*.tmp
*.old
